.MuiContainer-root .MuiFormLabel-root .MuiInput-root {
  margin-left: 15px;
}

.input-text-label {
  color: #fff;
}

.MuiContainer-root .submit-button {
  margin: auto;
  display: block;
  border-color: #f50057;
  color: #f50057;
  text-align: center;
}
